html, body {
    height: 100dvh;
}
    
@font-face {
    font-family: main-font;
    src: url(./main-font.ttf);
}

:root {
    --main-blue: #3b82f6;
    --main-green: #34d399;
    --main-red: #ef4444;
    --main-yellow: #eab308;
    --main-gray: #6b7280;

    --light-blue: #93c5fd;
    --light-green: #a7f3d0;
    --light-red: #f87171;
    --light-yellow: #fde047;

    --text-white: #ffffff;
    --text-black: #000000;

    font-family: main-font;
}

.header {
    touch-action: none;
    min-width: 100%;
    background-color: var(--main-blue);
    color: var(--text-white);
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

.header > button {
    background: none;
    border: none;
    cursor: pointer;
    justify-self: flex-end;
    user-select: none;
    outline: none;
}

.header > button > * {
    pointer-events: none;
}

.header > h1 {
    font-size: 2rem;
    margin-left: 27px;
    width: 100%;
    text-align: center;
}

.container {
    height: calc(100% - 48px);
    width: 100%;
    overflow: auto;
}

.confirm-delete,
.task-modal,
.task-view-mode,
.confirm-task-complete,
.edit-task-modal {
    width: 450px;
    max-width: 100%;
    padding: 15px;
    margin: auto;
    text-align: center;
    border: none;
    border-radius: 5px;
}

.confirm-delete {
    border: 5px solid var(--main-red);
}

.confirm-delete > h1 {
    margin: 10px 0;
    width: 100%;
}

.confirm-delete > h2 {
    font-size: 1.2rem;
    font-weight: lighter;
}

.confirm-delete > :nth-child(3) {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid;
}

.confirm-delete > button {
    margin: 0 20px;
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: var(--text-white);
    font-weight: 500;
    cursor: pointer;
}

.confirm-delete > #cancel {
    background-color: #475569;
}

.confirm-delete > #confirm {
    background-color: var(--main-red);

}

.task-modal {
    border: 5px solid var(--main-green);
}

.edit-task-modal {
    border: 5px solid var(--main-yellow);
}

.task-modal > form > *,
.edit-task-modal > form > * {
    margin: 10px 0;
    width: 100%;
    resize: none;
}

.task-modal > form > input, textarea,
.edit-task-modal > form > input, textarea {
    padding: 5px;
}

.task-modal > form > #high, #low,
.edit-task-modal > form > #high, #low {
    width: auto;
    outline: none;
    cursor: pointer;
}

.task-modal > form > #high,
.edit-task-modal > form > #high {
    accent-color: var(--main-red);
}

.task-modal > form > #low,
.edit-task-modal > form > #low {
    accent-color: var(--main-green);
}

.task-modal > form > label[for=high],
.edit-task-modal > form > label[for=high] {
    margin-right: 50px;
}

.task-modal > form > .task-modal-buttons,
.edit-task-modal > form > .task-modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.task-modal > form > .task-modal-buttons > button,
.edit-task-modal > form > .task-modal-buttons > button {
    padding: 5px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.task-modal > form > div > #close,
.edit-task-modal > form > div > #edit-close {
    background-color: var(--main-red);
    color: var(--text-white);
}

.task-modal > form > div > #submit,
.edit-task-modal > form > div > #edit-submit {
    background-color: var(--main-green);
}

.task-view-mode {
    border: 5px solid var(--main-blue);
}

.task-view-mode > *{
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

.task-view-mode > :nth-child(2) {
    font-weight: lighter;
}

.task-view-mode > :nth-child(4) {
    border-bottom: 1px solid;
    font-weight: lighter;
}

.task-view-mode > button {
    width: 30%;
    padding: 5px;
    margin-top: 20px;
    text-align: center;
    background-color: var(--main-gray);
    color: var(--text-white);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.confirm-task-complete {
    border: 5px solid var(--main-green);
}

.confirm-task-complete > :nth-child(3) {
    padding: 50px 0;
    border-bottom: 1px solid;
    text-decoration: underline;
}

.confirm-task-complete > button {
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
}

#cancel-complete {
    float: left;
    background-color: var(--main-gray);
    color: var(--text-white);
}

#confirm-complete {
    float: right;
    background-color: var(--main-green);
}