body {
    background-color: var(--bg-color);
    height: calc(100vh - 48px);
}
    
@font-face {
    font-family: main-font;
    src: url(./main-font.ttf);
}

:root {
    --color-one: #164e63;
    --color-two: #fff;
    --color-three: #a5f3fc;
    --bg-color: #d1d5db;
    font-family: main-font;
}

.header {
    min-width: 100%;
    background-color: #fff;
    color: var(--color-one);
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

.header > button {
    background: none;
    border: none;
    cursor: pointer;
    justify-self: flex-end;
}

.header > h1 {
    font-size: 2rem;
    margin-left: 27px;
    width: 100%;
    text-align: center;
}

.container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
    overflow: auto;
}

dialog {
    width: 350px;
    height: calc(100% - 48px);
    border: none;
    background-color: var(--color-one);
    color: var(--color-two);
    justify-self: end;
    padding: 10px;
}

nav > h1 {
    text-align: center;
}

main {
    width: 100%;
}

