body {
    height: calc(100vh - 48px);
}
    
@font-face {
    font-family: main-font;
    src: url(./main-font.ttf);
}

:root {
    --background-one: #3b82f6;
    --background-two: #93c5fd;
    --background-pos: #34d399;
    --background-neg: #ef4444;
    --hover-pos: #a7f3d0;
    --hover-neg: #f87171;
    --text-white: #ffffff;
    --text-black: #000000;
    font-family: main-font;
}

.header {
    min-width: 100%;
    background-color: var(--background-one);
    color: var(--text-white);
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

.header > button {
    background: none;
    border: none;
    cursor: pointer;
    justify-self: flex-end;
    user-select: none;
    outline: none;
}

.header > button > * {
    pointer-events: none;
}

.header > h1 {
    font-size: 2rem;
    margin-left: 27px;
    width: 100%;
    text-align: center;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
}


