main, .tasks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

main > h1 {
    border-bottom: 2px dashed;
    margin-bottom: 10px;
}

main > h1, h2 {
    width: 100%;
}

.new-task {
    width: 100%;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.new-task > button {
    padding: 5px 10px;
    margin: 10px;
    cursor: pointer;
    border: 1px solid;
    box-shadow: 2px 2px 2px #000;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: var(--main-green);
}

.new-task > button:hover {
    background-color: var(--light-green);
}

.tasks > div {
    width: 350px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    border-radius: 0 0 5px 5px;
    justify-content: space-between;
    align-content: center;
    border: 3px solid;
    text-align: justify;
}

.tasks > div > h3, p:nth-child(2) {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tasks > div > p {
    padding: 10px;
    width: 100%;
}

.tasks > div > :nth-child(4) {
    border-bottom: 3px solid;
}

/* Priority high task cards */
.high > :nth-child(1) {
    background-color: var(--main-red);
    padding: 5px;
    color: var(--text-white);
}
/* high end */

/* Priority low task cards */
.low > :nth-child(1) {
    background-color: var(--main-green);
    padding: 5px;
}
/* low end */

/* Tasks that are marked as done */
.done > :nth-child(1) {
    background-color: var(--main-gray);
    padding: 5px;
    color: var(--text-white);
}

.done > .view-task, .done > .edit-task {
    background-color: var(--main-gray);
    pointer-events: none;
}

.done > h3, .done > p {
    text-decoration: line-through;
}
/* done end */


.tasks > div > button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.mark-done {
    justify-content: center;
    flex: 1;
    background-color: var(--main-green);
    margin-left: 10px;
    font-weight: bold;
}

.view-task {
    color: var(--text-white);
    background-color: var(--main-blue);
    margin: 0 5px;
}

.edit-task {
    background-color: var(--main-yellow);
    margin-right: 5px;
}

.delete-task {
    color: var(--text-white);
    background-color: var(--main-red);
    margin-right: 10px;
}
