main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    text-align: center;
}

main > h1, h2 {
    width: 100%;
}

main > div {
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    justify-content: space-between;
    align-content: center;
    border: 1px solid;
    text-align: justify;
}

main > div > p {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

main > div > :nth-child(4) {
    padding-bottom: 5px;
    border-bottom: 1px solid;
}

main > div > button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

main > div > button > img {
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid;
}

.mark-done {
    justify-content: center;
    width: 100%;
    background-color: var(--main-green);
}

.view-task {
    color: var(--text-white);
    background-color: var(--main-blue);
}

.edit-task {
    background-color: var(--main-yellow);
}

.delete-task {
    color: var(--text-white);
    background-color: var(--main-red);
}

